[submodule "src/modules/ft_get_next_line"]
	path = src/modules/ft_get_next_line
	url = https://github.com/WOLFIE-OG/get_next_line.git
	branch = dev
[submodule "src/modules/ft_printf"]
	path = src/modules/ft_printf
	url = https://github.com/WOLFIE-OG/ft_printf.git
	branch = dev
[submodule "so_long"]
	path = so_long
	url = https://github.com/WOLFIE-OG/so_long
